*.pyc
*.src.rpm
.eggs
.idea
.mbs_local_build.db
.test_module_build_service.db
/.cache/
/.coverage*
/.tox/
/.vagrant/
/build/
/dist/
/module_build_service.egg-info/
module_build_service.db
server.crt
server.key
test_module_build_service.db
.vscode
.ropeproject
tests/test_module_build_service.db-journal
*.swp
.pytest_cache/
requirements.txt.orig
mbstest.db
htmlcov/
test.env.yaml
